/* CSS Document */
html, body{
margin:0px;
padding:0px;
width:936px;
height:614px;
overflow:hidden;
}
#scheda-prodotto{
background:url(../img/catalogo-tinte/overlay-bg.png) 0px 131px repeat-x #fff;
width:936px;
height:614px;
overflow:hidden;
color:#555;
}
#scheda-prodotto .hero-unit{
width:610px;
height:377px;
background-position:30px 33px;
background-repeat:no-repeat;
position:relative;
overflow:hidden;
float:left;
}
#scheda-prodotto .hero-unit h1,
#scheda-prodotto .hero-unit h2{
display:block;
height: 70px;
padding:60px 0 0 268px;
color: #B30B5F;
font-family: "SackersGothicHeavy",Arial,sans-serif;
font-size: 18px;
text-transform: uppercase;
font-weight:normal;
}
#scheda-prodotto .hero-unit p{
	padding: 50px 10px 0 268px;
	font-size:18px;
	line-height:25px;
}

/* hero unit colorazione > layout 02 (tinte con spugnetta) */
#scheda-prodotto .hero-unit .layout-02{
	width: auto;
}
#scheda-prodotto .hero-unit .layout-02 h2{
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 14px;
	font-size: 11px;
	height: auto;
}
#scheda-prodotto .hero-unit .layout-02 p{
	padding-top: 10px;
	font-size: 14px;
	line-height: 17px;
}
#scheda-prodotto .hero-unit .layout-02 ul{
	padding-left: 268px;
	font-size: 14px;
}
#scheda-prodotto .hero-unit .layout-02 ul li {
	padding-bottom: 10px;
}
#scheda-prodotto .risultati-tinta{
width:325px;
float:right;
border-left:solid 1px #f1ece5;
background-color:#fff;
font-size:14px;
line-height:20px;
}
#scheda-prodotto .risultati-tinta h2{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
line-height:20px;
padding: 24px 30px 15px;
color:#000;
font-weight:bold;
}
#scheda-prodotto .risultati-tinta p{
padding: 0 25px 10px 30px;
}
#scheda-prodotto .risultati-tinta img{
display: block;
margin: 0 auto;
}
#scheda-prodotto .risultati-tinta .scopri-i-miei-consigli{
border-top:solid 1px #f1ece5;
padding: 23px 50px;
margin-top:23px;
}
#scheda-prodotto .composit{
	clear: both;
	float: left;
	margin: -20px 0 0;
	width: 940px;
}

/*spalshscreen simil shadowbox di caricamento*/
#preloader {
    background-color: #060606;
    height: 100%;
    position: relative;
}
#preloader-inner {
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin-top: -12px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    color: #FFFFFF;
    font-family: "HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
}
#preloader-inner span {
    background: url(../img/catalogo-tinte/loading.gif) no-repeat scroll 0 0 transparent;
    display: inline-block;
    padding-left: 34px;
}

/*menu composit */
/*#scheda-prodotto .composit .tooltip{top:22px;}*/

.t1 .tooltip{top:32px;}
.t15 .tooltip{top:32px;}
/*
.t2 .tooltip{top:-14px;}
.t3 .tooltip{top:-14px;}
.t4 .tooltip{top:-14px;}
.t5 .tooltip{top:-14px;}
.t6 .tooltip{top:-24px;}
.t7 .tooltip{top:-32px;}
.t8 .tooltip{top:-32px;}
.t9 .tooltip{top:-32px;}
.t10 .tooltip{top:-24px;}
.t11 .tooltip{top:-14px;}
.t12 .tooltip{top:-14px;}
.t13 .tooltip{top:-14px;}
.t14 .tooltip{top:-14px;}
*/