/* CSS Document */
.composit ul li{
z-index:5;
}
.composit ul li img{
position:absolute;
}

.t1{left:0px;}
.t2{left:80px;}
.t3{left:138px;}
.t4{left:193px;}
.t5{left:242px;}
.t6{left:287px;}
.t7{left:328px;}
.t8{left:376px;}
.t9{left:416px;}
.t10{left:454px;}
.t11{left:493px;}
.t12{left:539px;}
.t13{left:587px;}
.t14{left:638px;}
.t15{left:695px;}


