/* CSS Document */

@font-face {
	font-family: 'ATFAntiqueRegular';
	src: url('../font/atfantique_regular-webfont.eot');
	src: url('../font/atfantique_regular-webfont.eot?#iefix') format('eot'), url('../font/atfantique_regular-webfont.woff') format('woff'), url('../font/atfantique_regular-webfont.ttf') format('truetype'), url('../font/atfantique_regular-webfont.svg#webfontIrXh1r6q') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SackersGothicHeavy';
	src: url('../font/atsackersheavygothic-webfont.eot');
	src: url('../font/atsackersheavygothic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/atsackersheavygothic-webfont.woff') format('woff'), url('../font/atsackersheavygothic-webfont.ttf') format('truetype'), url('../font/atsackersheavygothic-webfont.svg#SackersGothicHeavy') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SackersGothicLight';
	src: url('../font/atsackersgothic-light-webfont.eot');
	src: url('../font/atsackersgothic-light-webfont.eot?#iefix') format('embedded-opentype'), url('../font/atsackersgothic-light-webfont.woff') format('woff'), url('../font/atsackersgothic-light-webfont.ttf') format('truetype'), url('../font/atsackersgothic-light-webfont.svg#SackersGothicLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}
a, img {
	border: none;
}
html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #666666;
	height: 100%;
}
#home {
	background: url(../img/bg00.jpg) top repeat-x #f2e7db;
	position: relative;
	height: 100%;
}
#inside {
	background-image: url(../img/bg00_inside.jpg);
	background-position: top;
	background-repeat: repeat-x;
	background-color: #F5F2ED;
}
body div#container {
	height: auto;
	min-height: 100%
}
div#content {
	padding: 0 1.5em 5em
}

#navbar {
	clear: both;
	width: 980px;
	padding-top: 167px;
	height: 40px;
	margin: 0 auto
}
#navbar p {
	font-family: Arial, sans-serif;
	font-size: 11px;
	padding-top: 5px;
	padding-left: 25px;
	text-transform: uppercase
}
#navbar p a {
	font-family: Arial, sans-serif;
	font-size: 11px;
	color: #666;
	font-weight: normal;
	text-transform: uppercase
}
#navbar p a:hover {
	text-decoration: underline
}
.marchio .content {
	width: 974px;
	padding-top: 6px;
	height: 400px;
	float: left
}
.marchio .content .dx {
	min-height: 305px;
	height: auto !important;
	height: 305px;
}
.marchio .content .sx {
	width: 288px;
	float: left;
	padding: 6px;
	padding-right: 30px;
	padding-left: 25px
}
.marchio .pagination {
	height: 21px
}
.marchio sup {
	font-size: 7px
}
.gamma .dx {
	width: 347px;
	padding: 0;
	min-height: 365px;
	height: auto !important;
	height: 365px;
	padding-bottom: 10px;
	float: left
}
.gamma .dx_big {
	width: 347px;
	padding: 0;
	height: 430px;
	float: left
}
.gamma .pagination {
	width: 323px;
	height: 21px;
	float: left;
	padding-left: 12px;
	padding-right: 12px;
}
.main_content {
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
}
li {
	margin-left: 20px;
}
/* ----------  CONTAINER E BOX ---------- */

.logo {
	float: right;
	height: 45px;
	padding-top: 8px;
	border: none;
}
.logo img{
	border: none;
}
.header_cont {
	width: 100%;
}
.header {
	width: 980px;
	min-height: 45px;
	height: auto !important;
	height: 45px;
	margin: 0 auto;
	margin-top: 0;
	position: relative;
}

.container {
	width: 100%;
	min-width: 980px;
	background-image: url(../img/bg_home.jpg);
	background-repeat: no-repeat;
	background-position: top;
	position: relative;
	height: 100%;
	z-index: 0;
	margin: 0 auto;
}
.inside {
	width: 100%;
	background-image: url(../img/bg_inside01.jpg);
	background-repeat: no-repeat;
	background-position: top;
	margin: 0 auto;
	height: 100%;
}
.gamma {
	width: 100%;
	background-image: url(../img/bg_inside01.jpg);
	background-repeat: no-repeat;
	background-position: top;
	margin: 0 auto;
}

.marchio {
	width: 100%;
	background: url(../img/bg_inside01.jpg) 50% 0 no-repeat #F6F3EE;
	position: relative;
	z-index: 0;
	margin: 0 auto;
}
.container_sx {
	width: 144px;
	min-height: 300px;
	height: auto !important;
	height: 300px;
	float: left;
}
.container_dx {
	width: 826px;
	min-height: 300px;
	height: auto !important;
	height: 300px;
	float: left;
	background-image: url(../img/bg_content.jpg);
	background-repeat: no-repeat;
}
.footer {
	clear: both;
	margin-right: 8px;
}
.col_sx_micro {
	font-family: Arial, sans-serif;
	font-size: 10px;
	color: #c3f561;
	width: 95px;
	float: left;
	padding: 0px;
	padding-top: 3px;
	margin-right: 3px;
	line-height: 14px;
}
.col_sx_mini {
	font-family: Arial, sans-serif;
	font-size: 11px;
	color: #ffffff;
	width: 120px;
	float: left;
	padding: 0px;
	padding-top: 3px;
}
.menu {
	color: #805017;
	background-position: top;
	background-repeat: repeat-x;
	margin: 0;
}
/* ----------  LINK MENU E SOTTOMENU ---------- */

a, a:active, a:link, a:visited {
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
}
a:hover {
	color: #fff;
}
.menu ul {
	margin: 0;
	padding-left: 0;
	list-style: none;
}
.menu li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: block;
	float: left;
}
.menu li a, .menu li a:active, .menu li a:link, .menu li a:visited {
	font-family: "ATFAntiqueRegular", Arial, sans-serif;
	min-height: 30px;
	height: auto !important;
	height: 30px;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
	float: left;
	color: #fff;
	margin: 0em;
	padding: 15px 25px 0 25px;
	border-right: 1px solid #535353;
	background-color: #000
}
.menu li a:hover {
	color: #fff;
	background-color: #333
}
#evid {
	color: #fff;
	padding: 15px 25px 0 25px;
	background-color: #333333;
	border-bottom: 4px solid #333;
}
.footer_menu {
	width: 980px;
	margin: 0 auto;
	height: 50px;
	padding-top: 31px;
}
.footer_menu .left {
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	color: #8f8f8f;
	visibility: hidden;
}
.footer_menu ul {
	margin: 0;
	padding: 0;
	padding-left: 110px;
	float: left;
	list-style: none;
}
.footer_menu li {
	display: inline;
	margin: 0;
	padding: 0;
}
#home .footer_menu li a {
	display: inline;
}
.footer_menu li a, .footer_menu li a:active, .footer_menu li a:link, .footer_menu li a:visited {
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	color: #8f8f8f;
	margin: 0;
	padding: 0 10px 0 5px;
	border-right: 1px solid #CCC;
}
.footer_menu li a:hover {
	color: #666666;
}
#no_border {
	border: 0
}
/* ---------- TESTO E INTESTAZIONI ---------- */

h1, h2, h3 {
	margin: 0;
}
h1 {
	font-family: Arial, sans-serif;
	color: #666666;
	font-size: 28px;
	font-weight: bold;
	text-transform: none;
}
.marchio h1 {
	font-family: Arial, sans-serif;
	color: #90816b;
	font-size: 22px;
	font-weight: normal;
	text-transform: none;
	border-bottom: 2px solid #90816b;
	padding-bottom: 10px;
	padding-top: 3px;
	margin-left: 25px;
	margin-bottom: 10px
}
.prodotti {
	width: 164px;
	height: auto;
	padding: 15px 10px 10px 0;
	margin: 0 0 15px;
	
	float: left
}
.prodotti ul {
	padding: 0;
	margin: 0;
	list-style: none
}
.prodotti li {
	padding: 0;
	margin: 0;
	list-style: none;
	border-bottom: 1px solid #d1c9be
}
.img_prod {
	padding: 15px;
	padding-bottom: 60px;
	padding-top: 10px;
	float: left
}
h2 {
	font-family: "ATFAntiqueRegular", Arial, sans-serif;
	color: #a52e34;
	font-size: 19px;
	font-weight: normal;
	text-align: left
}
#home a {
	display: block
}

#home a h2 {
	font-family: "ATFAntiqueRegular", Arial, sans-serif;
	color: #a52e34;
	font-size: 19px;
	font-weight: normal;
	text-align: left
}
#home a h2 {
	font-family: "ATFAntiqueRegular", Arial, sans-serif;
	color: #a52e34;
	font-size: 19px;
	font-weight: normal;
	text-align: left
}
h2#brillance {
	color: #e592b7
}
h2#nutrition {
	color: #d49641
}
h2#protection {
	color: #862142
}
h2#lissage {
	color: #846ca8
}
h2#reparation {
	color: #d1582a
}
.inside h2 {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 19px;
	color: #b30b5f
}
.inside p {
	font-size: 13px;
	line-height: 16px;
	color: #555555
}
.gamma h2 {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 19px;
	color: #b30b5f;
	padding-left: 12px;
	padding-right: 12px;
}
.gamma p {
	font-size: 13px;
	line-height: 16px;
	color: #555555;
	padding-left: 12px;
	padding-right: 12px;
}
.marchio p {
	font-size: 14px;
	line-height: 19px;
	color: #666666
}
h3 {
	color: #999999;
	font-size: 13px;
	font-weight: normal;
	margin-left: 0;
}
h4 {
	color: #000000;
	font-size: 1.0em;
	font-weight: normal;
}
.testo {
	font-family: Arial, sans-serif;
	color: #666666;
	font-size: 13px;
	text-align: justify;
	line-height: 16px;
}
.minitesto {
	font-family: Arial, sans-serif;
	color: #333333;
	font-size: 11px;
	text-align: justify;
}
p.microtesto {
	font-size: 10px;
	line-height: 12px;
}
.pedice {
	font-family: Arial, sans-serif;
	text-align: justify;
	padding-top: 10px;
	font-size: 9px
}
.minipedice {
	font-family: Arial, sans-serif;
	text-align: justify;
	padding-top: 10px;
	font-size: 7px
}
.notes {
	font-family: Arial, sans-serif;
	font-size: 10px;
	color: #fff;
}
hr {
	border-bottom: 1px dotted #999;
	border-left: 1px dotted #ccc;
	border-right: 1px dotted #ccc;
	border-top: 2px dotted #ccc;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 0;
}
/* ---------- ALLINEAMENTO E POSIZIONE ---------- */

.left {
	float: left;
}
.left_space {
	float: left;
	padding: 6px
}
.right {
	float: right;
}
.chiusura {
	clear: both;
}
.img {
	border: 1px solid #ffffff;
	margin: 20px;
	margin-right: 0;
	margin-top: 0;
	float: right;
}
/*--------------------------------PAGINA VIDEO---------------------------*/
.video_abs {
	width: 210px;
	padding: 10px 15px 0 25px;
}
.video_abs iframe{
	overflow: hidden;
	border: none;
	width: 210px;
	height: 80px;
}
.video_abs iframe body{
	background-color:transparent;
}
.left h3 {
	color: #796953;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 10px 20px;
}
.video_abs h2 {
	font-size: 19px;
	color: #a52e34;
	margin-bottom: 15px;
}
.video_abs h2 span {
	font-size: 14px;
	font-style: italic;
	color: #333;
	display: block;
}
#player_wrap {
	width: 418px;
	height: 292px;
	background: url(../img/video/player_bg.png) no-repeat top left;
	padding: 10px 12px 12px 10px;
	margin-bottom: 20px;
}
.video_abs p {
	color: #666;
	padding-bottom: 20px;
	border-bottom: 1px solid #dad2c8;
	margin-bottom: 20px;
	line-height: 21px;
}
.videolist{
	overflow: hidden;
	width: 290px;
	height: 307px;
	position: relative;
}
ul.video {
	list-style: outside none;
	list-style-type: none;
	list-style-position: outside;
	width: 260px;
	padding: 0 10px 0 20px;
	height: 280px;
	overflow-y: auto;
}
ul.video li {
	overflow: hidden;
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px solid #dad2c8;
	position: relative;
}
ul.video li.noborder {
	border: 0;
}
ul.video li img {
	padding: 4px 6px 6px 4px;
	background: #fff url(../img/video/img_shadow.png) no-repeat top left;
	float: left;
	margin: 0 10px 0 0;
}
ul.video li a.guarda {
	background: url(../img/video/arrow.png) no-repeat center left;
	padding-left: 15px;
	font-size: 12px;
	color: #a52e34;
	font-weight: normal;
	position: absolute;
	bottom: 10px;
	left: 124px;
}
ul.video li h3 {
	color: #222;
	font-size: 12px;
	line-height: 15px;
	margin: 10px 0 20px 0;
}
ul.video li h3 small {
	color: #a52e34;
	font-style: italic;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
}
/* Homepage */
.home-box-consigli {
	position: absolute;
	right: 10px;
	top: 268px;
	display: block;
	background: url(../img/box_consigli.png) left top no-repeat;
	width: 306px;
	height: 224px;
	cursor: pointer;
	text-indent: -7000em;
	overflow: hidden;
}
.home-box-weekend {
	position: absolute;
	right: 32px;
	top: 268px;
	display: block;
	width: 278px;
	height: 200px;
	cursor: pointer;
}
/* pagine interne */

.interne-contenuto {
	width: 980px;
	margin: 0 auto;
}
.interne-corpo {
	width: 980px;
	float: left;
	clear: both;
	padding-top: 22px;
}

/* gamma */
.gamma-styling-submenu {
	float: left;
	width: 280px;
	margin-left: 25px;
}
.gamma-styling-submenu h3 a {
	font-size: 20px;
	font-family: "ATFAntiqueRegular", Arial, sans-serif;
	padding: 0px 0px 9px 16px;
	margin-bottom: 28px;
	background: url(../img/template/gamma/ico_arrow_grey.png) left top no-repeat;
	display: block;
	border-bottom: 1px solid #ddd0c1;
	text-transform: uppercase;
	line-height: 15px;
	font-weight: normal;
	color: #666;
}
.gamma-styling-submenu h3.attivo a {
	margin-bottom: 15px;
	background: url(../img/template/gamma/ico_arrow_red.png) left top no-repeat;
	color: #a52e34;
}
.gamma-styling-submenu p {
	padding: 0 0 20px 0;
	font-size: 13px;
	line-height: 17px;
	color: #666;
}
.gamma-styling-contenuto {
	float: left;
	width: 600px;
	margin-left: 75px;
}
.gamma-styling-contenuto .gamma-box {
	width: 610px;
	height: 264px;
	padding-bottom: 20px;
}
.gamma-styling-contenuto .brushing {
	background: url(../img/template/gamma/bg_mousse_box01.png) left top no-repeat;
}
.gamma-styling-contenuto .volume {
	background: url(../img/template/gamma/bg_mousse_box02.png) left top no-repeat;
}
.gamma-styling-contenuto .ricci {
	background: url(../img/template/gamma/bg_mousse_box03.png) left top no-repeat;
}

.gamma-styling-contenuto .fixation-forte {
	background: url(../img/template/gamma/bg_spray_box01.png) left top no-repeat;
}
.gamma-styling-contenuto .fixation-volume {
	background: url(../img/template/gamma/bg_spray_box02.png) left top no-repeat;
}
.gamma-styling-contenuto .fixation {
	background: url(../img/template/gamma/bg_spray_box03.png) left top no-repeat;
}

.gamma-styling-contenuto .gel-forte {
	background: url(../img/template/gamma/bg_gel_box01.png) left top no-repeat;
}
.gamma-styling-contenuto .gel-extraforte {
	background: url(../img/template/gamma/bg_gel_box02.png) left top no-repeat;
}
.gamma-styling-contenuto .gel-ultraforte {
	background: url(../img/template/gamma/bg_gel_box03.png) left top no-repeat;
}

.gamma-styling-contenuto .gamma-box p {
	padding: 0 110px 20px 240px;
}
.gamma-styling-contenuto .gamma-box h4 {
	padding: 80px 55px 15px 240px;
	font-weight: bold;
	font-size: 13px;
}
.gamma-styling-contenuto .left-img p, .gamma-styling-contenuto .left-img h4 {
	padding-left: 59px;
	padding-right: 290px;
}
.gamma-styling-contenuto .gamma-gel img {
	float: left;
	padding-left: 5px;
}

.colorazione-intro {
	background: url(../img/template/gamma/bg_color_box01.png) top left no-repeat;
	height: 335px;
	padding-left: 480px;
	margin-left: 33px;
	border-bottom: solid 1px #e6d8cb;
}
.interne-contenuto .colorazione h2 {
	font-weight: normal;
	color: #B30B5F;
	padding: 0 0 26px 0;
	font-size: 15px;
	font-family: "SackersGothicHeavy", Arial, sans-serif;
	text-transform: uppercase;
}
.interne-contenuto .colorazione-prodotti h2 {
	color: #B30B5F;
	font-family: "SackersGothicHeavy", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 16px;
}
.interne-contenuto .colorazione p {
	padding: 0 10px 20px 0;
	font-size: 14px;
	line-height: 19px;
	color: #555;
}
.interne-contenuto .colorazione p a {
	color: #B30B5F;
	font-weight: normal;
}
.colorazione-prodotti {
	width: 940px;
	padding: 15px 0 0 43px;
	
}
.bg-novita{
	background: url(../img/template/gamma/bg-novita.png) right top no-repeat;
}
/*video*/
.interne-contenuto .video-consiglio {
	margin: 0 54px 0 33px;
	padding: 0 0 0 10px;
	border-bottom: solid 1px #e6d8cb;
	position: relative;
	height: 298px;
}

.box-video-colorazione {
	width: 470px;
	float: left;
}
.interne-contenuto .colorazione-prodotti .box-video-colorazione h2 {
	font-size: 14px;
	padding: 34px 0 27px 0;
}
.interne-contenuto .colorazione-prodotti .box-video-colorazione h2.small-title{
	font-size: 12px;
	line-height: 19px;
	padding: 8px 0 15px;
}
.box-video-colorazione .thumb-colorazione {
	float: left;
	margin: -5px 10px 0 -5px;
}
.interne-contenuto .box-video-colorazione p {
	padding-right: 35px;
}
.box-video-colorazione p a {
	font-weight: normal;
	background: url(../img/template/gamma/ico_arrow_pink.png) right 3px no-repeat;
	color: #B30B5F;
	padding: 0 14px 0 0;
	font-size: 12px;
	font-family: "SackersGothicHeavy", Arial, sans-serif;
	text-transform: uppercase;
}
.box-video-colorazione ul span {
	font-weight: bold;
	color: #555;
	font-size: 14px;
	margin-right: 4px;
}
.box-video-colorazione ul li {
	float: left;
	display: block;
	font-size: 11px;
	line-height: 14px;
	width: 156px;
	margin-left: 0px;
}
.box-video-colorazione .esempio-applicazione {
	margin: -4px 0 0 -10px;
}
.composit {
	height: 192px;
	width: 940px;
	margin: 0 auto;
}
.composit ul li {
	display: block;
	float: left;
	margin: 0;
	position: relative;
}
/*composit rollover effect*/
.composit ul li a, .composit ul li img {
	margin: 0;
	padding: 0;
	border: none;
}
.composit ul li img {
	display: block;
	top: 0px;
}
.composit ul li .tooltip {
	position: absolute;
	display: none;
	z-index: 2;
	/*filtro ie8*/
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f5f2ed', endColorstr='#4cffffff'); /* IE */
}

.t1 .tooltip {
    left: -27px;
    top: 15px;
}
.t17 .tooltip {
    left: -34px;
    top: 12px;
}
.t2 .tooltip {
    left: -35px;
    top: 10px;
}
.t16 .tooltip {
    left: -33px;
    top: 6px;
}
.t3 .tooltip {
    left: -36px;
    top: 1px;
}
.t4 .tooltip {
    left: -37px;
    top: -6px;
}
.t5 .tooltip {
    left: -38px;
    top: -13px;
}
.t6 .tooltip {
    left: -43px;
    top: -21px;
}
.t7 .tooltip {
    left: -41px;
    top: -27px;
}
.t8 .tooltip {
    left: -40px;
    top: -34px;
}
.t9 .tooltip {
    left: -39px;
    top: -21px;
}
.t19 .tooltip {
    left: -39px;
    top: -16px;
}
.t20 .tooltip {
    left: -35px;
    top: -16px;
}
.t10 .tooltip {
    left: -32px;
    top: -11px;
}
.t21 .tooltip {
    left: -35px;
    top: -6px;
}
.t22 .tooltip {
    left: -38px;
    top: -4px;
}
.t11 .tooltip {
    left: -40px;
    top: -2px;
}
.t18 .tooltip {
    left: -25px;
    top: 4px;
}
.t12 .tooltip {
    left: -23px;
    top: 13px;
}
.t13 .tooltip {
    left: -19px;
    top: 22px;
}
.t14 .tooltip {
    left: -16px;
    top: 31px;
}
.t15 .tooltip {
    left: -11px;
    top: 31px;
}

/* visore bot homepage */
.box_footer {
	width: 313px;
	height: 140px;
	float: left;
	background-position: left top;
	background-repeat: no-repeat;
	margin-top: 10px;
}
.box_footer01 {
	background-image: url(../img/img_box_colour.png);
	margin-left: 20px;
}
.box_footer02 {
	background-image: url(../img/img_box_styling.png);
}
.box_footer03 {
	background-image: url(../img/img_box_haircare.png);
}
.box_footer h2 a {
	display: block;
	padding: 0 0 0 145px;
	color: #a52e34;
	line-height: 21px;
	font-size: 17px;
	font-family: "ATFAntiqueRegular", Arial, sans-serif;
	font-weight: normal;
	background: url(../img/ico_arrow_red.png) right center no-repeat;
	margin-right: 5px;
}
.box_footer p {
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 15px;
	color: #333;
	padding: 10px 0 0 145px;
}

/*consigli*/
.consigli {
	background: url(../img/bg_inside01.jpg) left top no-repeat;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	padding-bottom: 35px;
}
.consigli-contenuto {
	width: 940px;
	margin: 0 20px;
}
.consigli-row {
	padding-bottom: 11px;
	background: url(../img/consigli/box-consiglio-shadow.png) left bottom no-repeat;
}
.consigli-menu {
	width: 940px;
	height: 170px;
	overflow: hidden;
	display: block;
}
#row4 {
	background: url(../img/consigli/box-consiglio-singolo-shadow.png) left bottom no-repeat;
}
.consigli-menu li {
	float: left;
	overflow: hidden;
	height: 170px;
	display: block;
	margin-left: 0;
}
.consigli-menu .uno {
	width: 306px;
}
.consigli-menu .due {
	width: 328px;
}
.consigli-menu .tre {
	width: 306px;
	border: none;
}
#row1 .consigli-menu .uno {
	background: url(../img/consigli/foto/01.jpg) left top no-repeat #000;
}
#row1 .consigli-menu .due {
	background: url(../img/consigli/foto/02.jpg) left top no-repeat #000;
}
#row1 .consigli-menu .tre {
	background: url(../img/consigli/foto/03.jpg) left top no-repeat #000;
}
#row2 .consigli-menu .uno {
	background: url(../img/consigli/foto/04.jpg) left top no-repeat #000;
}
#row2 .consigli-menu .due {
	background: url(../img/consigli/foto/05.jpg) left top no-repeat #000;
}
#row2 .consigli-menu .tre {
	background: url(../img/consigli/foto/06.jpg) left top no-repeat #000;
}
#row3 .consigli-menu .uno {
	background: url(../img/consigli/foto/07.jpg) left top no-repeat #000;
}
#row3 .consigli-menu .due {
	background: url(../img/consigli/foto/08.jpg) left top no-repeat #000;
}
#row3 .consigli-menu .tre {
	background: url(../img/consigli/foto/09.jpg) left top no-repeat #000;
}
#row4 .consigli-menu .uno {
	background: url(../img/consigli/foto/10.jpg) left top no-repeat #000;
}
.consigli-menu .ui-state-hover, .consigli-menu .ui-state-active, .consigli-menu .ui-state-focus {
	background-color: #e6e3d9 !important;
}
.consigli-menu .uno h3, .consigli-menu .due h3 {
	border-right: solid 1px #4e4d4b;
	padding-bottom: 35px;
}
.consigli-menu li h3 {
	margin-top: 105px;
	padding: 18px 22px;
}
.consigli-menu li  h3, .consigli-menu li  h3 a {
	color: #fff;
	font-family: "SackersGothicHeavy", Arial, sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 11px;
	display: block;
}
.consiglio p {
	color: #fff;
	line-height: 22px;
	font-size: 14px;
	margin-bottom: 30px;
}
.consiglio {
	background: url(../img/consigli/box-consiglio-shadow.png) left top no-repeat #333;
	border: solid 1px #000;
	border-top: none;
	position: relative;
	padding: 40px 200px 10px 40px;
}
.consiglio .chiudi-consiglio {
	display: block;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 18px;
	height: 17px;
	text-indent: -10000em;
	overflow: hidden;
	background: url(../img/consigli/chiudi.png) left top no-repeat;
}
.consiglio .navigator {
	position: absolute;
	right: 20px;
	bottom: 20px;
}
.consiglio .navigator li {
	display: block;
	float: left;
	list-style: none;
	margin-left: 9px;
}
.consiglio .navigator li a {
	width: 12px;
	height: 12px;
	background: url(../img/consigli/page-off.png) left top no-repeat;
	display: block;
	text-indent: -10000em;
	overflow: hidden;
}
.consiglio .navigator li a:hover, .consiglio .navigator li a.active {
	background: url(../img/consigli/page-on.png) left top no-repeat;
}
#row4 .consigli-wrapper {
	padding-bottom: 11px;
	background: url(../img/consigli/box-consiglio-shadow.png) left bottom no-repeat;
	margin-bottom: -14px;
}
.consigli-wrapper {
	display: none;
}

/*marchio*/
.pagina-interna {
	width: 940px;
}
.marchio-box {
	width: 938px;
	height: 352px;
	overflow: hidden;
	border: solid 1px #e3dfd4;
	margin: 8px 0 0 0;
	background-color: #fff;
	position: relative;
}
.marchio-box img {
	float: left;
}
.marchio-box h2 {
	margin: 0;
	padding: 20px 20px 15px 327px;
}
.marchio-box p {
	padding: 0 20px 15px 327px;
	margin: 0;
}
.marchio-box-1 h2, .marchio-box-1 p {
	padding-left: 20px;
	padding-right: 327px;
}
.marchio-box-1 img {
	float: right;
}
.marchio-box-3 {
	height: 400px;
}
.marchio-box-3 h2, .marchio-box-3 p {
	padding-left: 655px;
}
hr.ombra {
	background: url(../img/consigli/box-consiglio-shadow.png) left top no-repeat;
	width: 940px;
	height: 19px;
	display: block;
	padding: 0;
	margin: 0;
	border: none;
}
/* footer */
div#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 999;
	text-align: left;
	background-image: url(../img/bg_footer.png);
	background-position: top;
	background-repeat: repeat-x;
}
div#footer_inside {
	clear: both;
	width: 100%;
	height: 81px;
	z-index: 999;
	text-align: center;
	background-color: #FFF;
}
#footer p {
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #2c2c2c;
	font-weight: normal;
}
.footer_home {
	width: 980px;
	margin: 0 auto;
	height: 150px;
	padding-top: 31px;
}
.footer-menu {
	width: 980px;
	margin: 0 auto;
	height: 50px;
	padding-top: 31px;
}

/* legal and contact box */
#legal-box, #contatti-box {
	background-color: #F5F1ED;
	border: 2px solid #FFFFFF;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
}

/*UTLITIES*/
.hidden {
	display: none;
}
.mb15{
	margin-bottom: 15px !important;
}

/* COOKIE POLICY DISCLAIMER */
.cookie-policy{
	background: #f0e7dd;
	color: #000;
	text-align: center;
	padding: 10px 0;
	display: none;
}
.cookie-policy h3{
	font-weight: 700;
	color: #000;
}
.cookie-policy .row{
	display: block;
	width: 1024px;
	margin: 0 auto;
}
.cookie-policy a{
 color: #a52e34;	
}
.cookie-policy button{
	cursor: pointer;
}
/* PAGINE INTERNE DI TESTO (USED FOR: COOKIE POLICY) */
.pagina-testo{
	padding-bottom: 20px;
}
.pagina-testo h2{
	text-align: center;
	font-size: 22px;
	margin: 20px 0;
}
.pagina-testo h3{
	font-size: 22px;
	margin-bottom: 10px;
}
.pagina-testo h4{
	font-size: 16px;
	margin-bottom: 5px;
}
.pagina-testo p{
	font-size: 14px;
	margin-bottom: 20px;
}
.pagina-testo p a{
	color: #a52e34;
}

/* LISTA ORDINATA CON LETTERE */
.letter-ol{
	list-style: lower-alpha;
	margin-bottom: 20px;
	font-size: 14px;	
}
.letter-ol li{
	margin-bottom: 20px;
}

/* FOOTER HOMEPAGE */
#home #footer_inside{
	background: url(../img/bg_footer_home.png) repeat transparent;
}
#home .footer_menu {
  border-top: 1px solid #cac6c2;
  height: 30px;
  padding-top: 15px;
}
#home div#footer_inside{
	height: auto;
}
