#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font-family:"HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:200;color:#fff;}
#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:999;text-align:left;visibility:hidden;display:none;}
#sb-overlay{position:relative;height:100%;width:100%;}
#sb-wrapper{
position:absolute;
visibility:hidden;
width:100px;
padding:13px 18px;
background-color:#fff;
}
#sb-wrapper-inner{position:relative;border:1px solid #f1ece5;overflow:hidden;height:100px;}
#sb-body{position:relative;height:100%;}
#sb-body-inner{position:absolute;height:100%;width:100%;}
#sb-player.html{height:100%;overflow:auto;}
#sb-body img{border:none;}
#sb-loading{position:relative;height:100%;}
#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;}
#sb-loading-inner span{background:url(loading.gif) no-repeat;padding-left:34px;display:inline-block;}
#sb-loading{background-color:#060606;}
#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:hidden;}
#sb-title,#sb-title-inner{line-height:26px;}
#sb-title{}
#sb-title-inner{
font-family:Arial, Helvetica, sans-serif; 
font-size:14px; 
font-weight:bold;
color:#000;
padding-bottom:8px;
margin-top:0px !important;
}
#sb-info,#sb-info-inner{
height:20px;
line-height:20px; 
}
#sb-info-inner{
	font-size:12px;
	position: relative;
	width: 100%;
	}
#sb-nav{
	height:16px;
	padding:10px 0 2px 0;
	width: 153px;
	margin: 0 auto;
	}
#sb-nav a{
display:block;
height:16px;
width:16px;
margin-left:3px;
cursor:pointer;
background-repeat:no-repeat;
}
a#sb-nav-close{
	background-image:url(ico_chiudi.png);
	height:11px;
	width:47px;
	position:absolute;
	right:0px;
	top:9px;
}
a#sb-nav-next{
background-image:url(ico_succ.png);
height:11px;
width:74px;
float: right;
margin-left:0;
}
a#sb-nav-previous{
background-image:url(ico_prec.png);
height:11px;
width:76px;
float: left;
}
#sb-nav-play{background-image:url(play.png);}
#sb-nav-pause{background-image:url(pause.png);}
#sb-counter{float:left;width:45%;}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}
#sb-counter a.sb-counter-current{text-decoration:underline;}
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}

