.dropdown {
  position: relative;  
  text-align:center;
}
.dropdown-toggle {
  *margin-bottom: -3px;
}
.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  margin: 0;
  list-style: none;
}
.dropdown.open {
  *z-index: 1000;
}
.dropdown.open .dropdown-menu {
  display: block;
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}

.dropdown .dropdown-menu li a{
width:79px;
background:url(../../img/template/submenu-bg.png) left top no-repeat transparent;
font-size:11px;
text-align:center;
border-top:1px solid #535353;
border-right:none;
padding:0px 26px;
line-height:30px;
}

.dropdown .dropdown-menu li a:hover{
background:url(../../img/template/submenu-bg-hover.png) left top no-repeat transparent;
}
