ul{
	list-style: none;
}
form{
	float:right;
}
.content {
    height: 478px !important;
}
.searchWrap-locator{
	 width:51%;
	 float:left;
	 overflow:hidden;
	 border-right:1px solid #d7d1c8;
	 height: 456px;
}
.mapItaly-locator{
	 float:left;
	 margin: 0 0 0 20px;
}
.cerca{
	font-family: Arial, Helvetica, sans-serif; 
	color: #FFF; 
	font-size: 11px; 
	text-trasform: uppercase; 
	text-align: left; 
	background: url(img/btn_successo.png) no-repeat 0 0; 
	width: 90px; 
	height: 21px;
	border: none;
	float: right;
	margin: 15px 48px 0 0;
}
.search-locator{
	width: 47%;
	 float:right;
	 overflow:hidden;
}
.wrapTxt-locator{
	 width:45%;
	 float:right;
	 overflow:hidden;
}
#azienda_name{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-weight: bold;
}
#form-entry{
	overflow:hidden;
	width:100%;
	margin:0 0 15px;
}
.store-select{
	width: 200px;
}
select{
  	width:auto;
	min-width:200px;
	margin:10px 0 10px 0;
}
select.resetWidth{
	width:auto;
	min-width:200px;
	margin:10px 0 10px 0;
}
input{
	margin:10px 0 10px 0;
}